{
    # use the staging let's encrypt certs
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    email marco@test.ch
}

# domain name.
localhost

# Set this path to your site's directory.
root * /io/www/html

# Enable the static file server.
file_server

@ows {
    path_regexp map_file ^/ows/(.*)
}

#redir @ows /demos.html?{query}&map=/io/data/{http.regexp.map_file.1}.qgs

# https://localhost/ows/test?SERVICE=WMS&REQUEST=GetCapabilities
# directly call QGIS via fcgi
reverse_proxy @ows qgisserver:9993 {
    transport fastcgi {
        env QUERY_STRING {query}&map=/io/data/{http.regexp.map_file.1}.qgs
        env PGSERVICEFILE /io/.pg_service.conf
    }
}
